<div class="flex flex-wrap justify-evenly">
  <div class="mx-4 p-3 mt-4 mb-4 flex flex-col rounded-lg">
    <div class="overflow-hidden rounded-md">
      <img
        class="w-1/3 rounded-md mx-auto transition-transform duration-300 ease-in-out transform hover:scale-105"
        src="../../../../assets/images/jaqueta1.png"
        alt="Jacket"
      />
    </div>
    <div class="p-4 text-center">
      <h5 class="font-semibold">
        <a href="#" class="text-black hover:text-black no-underline">Jacket</a>
      </h5>
      <p class="text-base font-normal mt-1">$45</p>
    </div>
  </div>
</div>
